@import 'vars';

* {
    margin: 0;
    padding: 0;
}

img {
    width: auto;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}


body {
    font-family: 'DM Serif Display', serif;
    font-family: 'Jost', sans-serif;
}

.box-content {
    overflow: hidden;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    height: 50px;
    width: $widthSite;
    padding-top: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.logo__text {
    font-family: $titleFont;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: $titleColor;


}

.header__menu {
    list-style-type: none;
    width: 243px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_link {
        font-family: $textFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: $titleColor;

    }
}

.banner {
    height: 758px;
    width: $widthSite;
    padding-top: 60px;
    background-image: url(img/banner_img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-repeat: no-repeat;
    background-position: center;

    &__info {
        width: 430px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 50px;

        &_title {
            font-family: $titleFont;
            font-size: 65px;
            font-weight: 400;
            line-height: 81px;
            letter-spacing: 0em;
            text-align: left;

        }

        &_text {
            font-family: $textFont;
            color: $textColor;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;

        }

        &_button {
            width: 220.14px;
            height: 75px;
            padding: 26px 49px 26px 48px;
            border-radius: 18px;
            // gap: 10px;
            background: rgba(41, 47, 54, 1);
            box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

        }
    }


}

.projects {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        width: 737px;
        height: 137px;
        margin-bottom: 60px;

        &_title {
            font-family: $titleFont;
            font-size: 50px;
            font-weight: 400;
            line-height: 63px;
            letter-spacing: 0.02em;
            text-align: center;
        }

        &_text {
            font-family: $textFont;
            color: $textColor;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: center;

        }
    }
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gapGrid;
    padding-bottom: 100px;
}

.project {
    width: $secondSiteWidth;
    height: 650px;


    &__info {
        width: $secondSiteWidth;
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__description {



            &_title {
                font-family: $titleFont;
                font-size: 25px;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0.02em;
                text-align: left;

            }

            &_text {
                font-family: $textFont;
                color: $textColor;
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0.01em;
                text-align: left;

            }
        }

        &_button {
            width: 70px;
            height: 70px;
            background-color: rgba(244, 240, 236, 1);
            border-radius: 50%;
            border: none;
        }

    }


}

.left_up_round {
    border-radius: 0 25% 0 0;
}

.right_up_round {
    border-radius: 25% 0 0 0;
}

.left_down_round {
    border-radius: 0 0 25% 0;
}

.right_down_round {
    border-radius: 0 0 0 25%;
}

.counter {
    height: 457px;
    background: rgba(244, 240, 236, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

    li:last-child {
        border-right: none;
    }


    &__item {
        width: 270px;
        height: 155px;
        border-right: 1px solid rgba(205, 162, 116, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &_value {
            color: rgba(205, 162, 116, 1);
            font-family: $titleFont;
            font-size: 85px;
            font-weight: 400;
            line-height: 106px;
            letter-spacing: 0.02em;
            text-align: left;


        }

        &_text {
            font-family: $textFont;
            color: $textColor;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;

        }
    }

}

.blog {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        width: 737px;
        height: 137px;
        margin-bottom: 60px;

        &_title {
            font-family: $titleFont;
            font-size: 50px;
            font-weight: 400;
            line-height: 63px;
            letter-spacing: 0.02em;
            text-align: center;
        }

        &_text {
            font-family: $textFont;
            color: $textColor;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: center;

        }



    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gapForThree;
    }
}

.article {
    width: $thirdSiteWidth;
    border: 1px solid rgba(231, 231, 231, 1);
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 15%;

    &__img {
        background: rgba(234, 234, 234, 1);
        width: 100%;
        border-radius: 15% 15% 0 0;

    }



    &__info {
        &_title {
            font-family: $titleFont;
            font-size: 25px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0.02em;
            text-align: left;

        }

        &__description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 25px;
            margin-bottom: 10px;
            align-items: center;

            &_date {
                font-family: $textFont;
                color: $textColor;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.01em;
                text-align: left;
            }
        }
    }

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 136px;

    &__info {
        width: $thirdSiteWidth;
        display: flex;
        flex-direction: column;
        gap: 18px;

        &_text {
            font-family: $textFont;
            color: $textColor;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.01em;
            text-align: left;
        }

        &_icons {
            display: flex;
            flex-direction: row;
            gap: 54px;
        }

    }

    &_title {
        font-family: $titleFont;
        color: $titleColor;
        font-size: 25px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }

    &__links {
        width: $thirdSiteWidth;
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-left: 100px;

        &__menu {
            list-style-type: none;
            width: 243px;
            display: flex;
            flex-direction: column;

            &_link {
                color: $textColor;
                font-family: $textFont;
                font-size: 22px;
                font-weight: 400;
                line-height: 66px;
                letter-spacing: 0.01em;
                text-align: left;
            }
        }
    }




    &__contacts {
        width: $thirdSiteWidth;
        display: flex;
        flex-direction: column;
        gap: 18px;



        &_address {
            font-family: $textFont;
            color: $textColor;
            font-size: 25px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
        }

        &_mail {
            font-family: $textFont;
            color: $textColor;
            font-size: 25px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
        }

        &_phone {
            font-family: $textFont;
            color: $textColor;
            font-size: 25px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}