* {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

body {
  font-family: "DM Serif Display", serif;
  font-family: "Jost", sans-serif;
}

.box-content {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 50px;
  width: 1200px;
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo__text {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

.header__menu {
  list-style-type: none;
  width: 243px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menu_link {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.banner {
  height: 758px;
  width: 1200px;
  padding-top: 60px;
  background-image: url(img/banner_img.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}
.banner__info {
  width: 430px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
}
.banner__info_title {
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
}
.banner__info_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.banner__info_button {
  width: 220.14px;
  height: 75px;
  padding: 26px 49px 26px 48px;
  border-radius: 18px;
  background: rgb(41, 47, 54);
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.projects {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__intro {
  width: 737px;
  height: 137px;
  margin-bottom: 60px;
}
.projects__intro_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: center;
}
.projects__intro_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding-bottom: 100px;
}

.project {
  width: 550px;
  height: 650px;
}
.project__info {
  width: 550px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project__info__description_title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
}
.project__info__description_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.project__info_button {
  width: 70px;
  height: 70px;
  background-color: rgb(244, 240, 236);
  border-radius: 50%;
  border: none;
}

.left_up_round {
  border-radius: 0 25% 0 0;
}

.right_up_round {
  border-radius: 25% 0 0 0;
}

.left_down_round {
  border-radius: 0 0 25% 0;
}

.right_down_round {
  border-radius: 0 0 0 25%;
}

.counter {
  height: 457px;
  background: rgb(244, 240, 236);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.counter li:last-child {
  border-right: none;
}
.counter__item {
  width: 270px;
  height: 155px;
  border-right: 1px solid rgb(205, 162, 116);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter__item_value {
  color: rgb(205, 162, 116);
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 106px;
  letter-spacing: 0.02em;
  text-align: left;
}
.counter__item_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.blog {
  margin-top: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog__intro {
  width: 811px;
  height: 137px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.blog__intro_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: center;
}
.blog__intro_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}

.article {
  width: 391px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 15%;
}
.article__img {
  background: rgb(234, 234, 234);
  width: 100%;
  border-radius: 15% 15% 0 0;
}
.article__info_title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
}
.article__info__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 10px;
  align-items: center;
}
.article__info__description_date {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 136px;
}
.footer__info {
  width: 391px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__info_text {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer__info_icons {
  display: flex;
  flex-direction: row;
  gap: 54px;
}
.footer_title {
  font-family: "DM Serif Display", serif;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__links {
  width: 391px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 100px;
}
.footer__links__menu {
  list-style-type: none;
  width: 243px;
  display: flex;
  flex-direction: column;
}
.footer__links__menu_link {
  color: rgb(77, 80, 83);
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer__contacts {
  width: 391px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__contacts_address {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__contacts_mail {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__contacts_phone {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.top-banner {
  height: 356px;
  background-image: url(img/top_banner_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.top-banner__heading {
  background-color: white;
  height: 178px;
  width: 503px;
  border-radius: 37px 37px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-banner__heading_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
}
.top-banner__heading_description {
  font-family: "Jost", sans-serif;
  color: rgb(77, 80, 83);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.blog-content {
  width: 1200px;
}
.blog-content__latest {
  margin-top: 200px;
}
.blog-content__latest_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0.02em;
  text-align: left;
}
.blog-content__latest_img {
  border-radius: 62px;
}
.blog-content__latest__box {
  width: 1200px;
  height: 522px;
  border-radius: 62px;
  padding: 22px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 65px;
}
.blog-content__latest__box__info {
  width: 489px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.blog-content__latest__box__info__description {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.blog-content__latest__box__info__description_title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
}
.blog-content__latest__box__info__description_text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.blog-content__latest__box__info_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog-content__latest__box__info_footer_date {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.blog_details_top-banner {
  height: 356px;
  background-image: url(img/blog_details_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}

.blog-details__content {
  display: flex;
  flex-direction: row-reverse;
  gap: 52px;
}
.blog-details__content__articles {
  width: 800px;
}

.sidebar {
  width: 345px;
  display: inline-block;
  overflow: hidden;
  display: inline-table;
}
.sidebar_title {
  height: -moz-fit-content;
  height: fit-content;
}
.sidebar_radio {
  display: inline-block;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
.sidebar input[type=radio] {
  display: none;
}
.sidebar label {
  width: 132px;
  height: 41px;
  cursor: pointer;
  line-height: 42px;
  background: rgb(244, 240, 236);
  width: 132px;
  height: 41px;
  padding: 9px 30px 9px 30px;
  border-radius: 10px;
  gap: 10px;
}
.sidebar input[type=radio]:checked + label {
  color: white;
  background: rgb(41, 47, 54);
}
.sidebar label:hover {
  color: white;
  background: rgb(41, 47, 54);
}/*# sourceMappingURL=style.css.map */