$titleColor: #000;
$textColor: rgba(77, 80, 83, 1);
;
$widthSite: 1200px;
$titleFont: "DM Serif Display",
serif;
$textFont:'Jost',
sans-serif;
$gapGrid: 100px;
$gapForThree: 50px;
$secondSiteWidth: calc(($widthSite - $gapGrid) / 2);
$thirdSiteWidth: calc(($widthSite - $gapForThree) / 3);