@import 'vars';
@import 'mixins';


* {
    margin: 0;
    padding: 0;
}

img {
    width: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.box-content {
    overflow: hidden;
}


.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.products__info {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.products__items {
    padding-top: 48px;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product__box {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover::after {
        content: url(img/Hover.svg);
        position: absolute;

    }
}

.product__content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24.35px;
    padding-bottom: 20px;
    padding-left: 18px;

    &__name {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $textColor;
        text-transform: uppercase;
    }

    &__info {
        margin-top: 12.65px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        margin-top: 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectiveSite;
    }
}